
.image{
    margin-left: 2000px;
    margin-top: 500px;
   
}
body{
    background-image: url("https://m.media-amazon.com/images/I/81oC5pYhh2L._AC_SL1500_.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2500px;
    background-size: 50% 80%;
   
   
}