<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monopoly Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trycss.css') }}">
</head>
<body>
    <div class="board">
        <!-- Bottom row -->
        <div class="corner go" id="cell-0">GO <img class="arrow" src="backend stuff/src/icons8-spider-man-head-50.png" alt="" ></div>
        <div class="property" id="cell-1">Mediterranean Avenue</div>
        <div class="property" id="cell-2">Community Chest <img class="arrow" src="https://i.pinimg.com/736x/79/71/20/797120b5145f7623b94b7eb7bf3ca618.jpg" alt=""> </div>
        <div class="property" id="cell-3">Baltic Avenue </div>
        <div class="property" id="cell-4">Income Tax</div>
        <div class="railroad" id="cell-5">Reading Railroad <img class="arrow" src="https://lh6.googleusercontent.com/proxy/ssTWWpdHBMET5AC4ciERpptlGrL7ooOM-wbJ4br-8YxlWz2USQELCCBcycZ1n-k37DR4Yf_eAkAeZ-PaRhfcoOyZZLntMzxPrv62RsED7R_h4pyd5r4AysrixHM4iCs9b5KGl5CDzX0oagaGUhFSPBiUR5F9NOB_gD8CMTRtBgMf_Q" alt=""> </div>
        <div class="property" id="cell-6">Oriental Avenue</div>
        <div class="chance" id="cell-7">Chance <img class="arrow" src="https://i.pinimg.com/736x/c4/d3/4e/c4d34ea3e1199cfff884b27484b8c303.jpg" alt=""></div>
        <div class="property" id="cell-8">Vermont Avenue</div>
        <div class="property" id="cell-9">Connecticut Avenue <img class="arrow" alt=""></div>
        <div class="corner jail" id="cell-10">Jail <img class="arrow" src="https://ih1.redbubble.net/image.2455988429.6669/st,small,507x507-pad,600x600,f8f8f8.u5.jpg"></div>
        
        <!-- Left column -->
        <div class="property vertical" id="cell-11">St. Charles Place</div>
        <div class="utility vertical" id="cell-12">Electric Company</div>
        <div class="property vertical" id="cell-13">States Avenue</div>
        <div class="property vertical" id="cell-14">Virginia Avenue</div>
        <div class="railroad vertical" id="cell-15">Pennsylvania Railroad</div>
        <div class="property vertical" id="cell-16">St. James Place</div>
        <div class="community-chest vertical" id="cell-17">Community Chest</div>
        <div class="property vertical" id="cell-18">Tennessee Avenue</div>
        <div class="property vertical" id="cell-19">New York Avenue</div>
        
        <!-- Top row -->
        <div class="corner free-parking" id="cell-20">Free Parking</div>
        <div class="property" id="cell-21">Kentucky Avenue</div>
        <div class="chance" id="cell-22">Chance </div>
        <div class="property" id="cell-23">Indiana Avenue</div>
        <div class="property" id="cell-24">Illinois Avenue</div>
        <div class="railroad" id="cell-25">B&O Railroad</div>
        <div class="property" id="cell-26">Atlantic Avenue</div>
        <div class="property" id="cell-27">Ventnor Avenue</div>
        <div class="utility" id="cell-28">Water Works <img class="arrow" src="https://thumbs.dreamstime.com/b/iconic-monopoly-game-water-works-logo-can-make-you-lots-money-if-you-own-both-utilities-monopoly-water-works-115551047.jpg" alt=""></div>
        <div class="property" id="cell-29">Marvin Gardens</div>
        <div class="corner go-to-jail" id="cell-30">Go To Jail</div>

        <!-- Right column -->
        <div class="property vertical" id="cell-31">Pacific Avenue</div>
        <div class="property vertical" id="cell-32">North Carolina Avenue</div>
        <div class="community-chest vertical" id="cell-33">Community Chest</div>
        <div class="property vertical" id="cell-34">Pennsylvania Avenue</div>
        <div class="railroad vertical" id="cell-35">Short Line</div>
        <div class="chance vertical" id="cell-36">Chance   </div>
        <div class="property vertical" id="cell-37">Park Place</div>
        <div class="luxury-tax vertical" id="cell-38">Luxury Tax</div>
        <div class="property vertical" id="cell-39">Boardwalk</div>
    </div>

     
    </div> 

    <div class="dice-container">
        <div id="dice1" class="dice1">1</div>
        <div id="dice2" class="dice2">1</div>
        <button id="rollButton" class="rollButton" onclick="rollDice()">Roll Dice</button>
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>